<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="businessName">Business Name</label>
        <input class="form-control" th:field="${business.businessName}" />
        <span th:errors="${business.businessName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="streetAddress">Street Address</label>
        <input class="form-control" th:field="${business.streetAddress}" />
        <span th:errors="${business.streetAddress}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="city">City</label>
        <input class="form-control" th:field="${business.city}" />
        <span th:errors="${business.city}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="state">State</label>
        <input class="form-control" th:field="${business.state}" />
        <span th:errors="${business.state}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="zipCode">Zip Code</label>
        <input class="form-control" th:field="${business.zipCode}" />
        <span th:errors="${business.zipCode}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="phoneNumber">Phone Number</label>
        <input class="form-control" th:field="${business.phoneNumber}" />
        <span th:errors="${business.phoneNumber}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="website">Website</label>
        <input class="form-control" th:field="${business.website}" />
        <span th:errors="${business.website}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="ownerName">Owner Name</label>
        <input class="form-control" th:field="${business.ownerName}" />
        <span th:errors="${business.ownerName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="${business.email}" />
        <span th:errors="${business.email}" class="error"></span>
    </div>

    <div class="form-group">

        <label th:for="businessTag">Business Tag</label>
        <select th:field="${business.businessTag}">
            <option th:each="owner : ${ownerTag}"
                    th:value="${owner.tagName}"
                    th:text="${owner.tagName}"
            ></option>
        </select>
        <span th:errors="${business.businessTag}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="businessCategory">Business Category</label>
        <select th:field="${business.businessCategory}">
            <option th:each="category : ${categories}"
                    th:value="${category.categoryName}"
                    th:text="${category.categoryName}"
            ></option>
        </select>
        <span th:errors="${business.businessCategory}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="businessSubCategory">Business Sub Category</label>
        <select th:field="${business.businessSubCategory}">
            <option th:each="subcategory : ${subcategories}"
                    th:value="${subcategory.subCategoryName}"
                    th:text="${subcategory.subCategoryName}"
            ></option>
        </select>
        <span th:errors="${business.businessSubCategory}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="onlineShopping">Does this business have online shopping available? </label>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="yes" name="yes" class="custom-control-input" value="1">
            <label class="custom-control-label" for="yes">yes</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="no" name="no" class="custom-control-input" value="0">
            <label class="custom-control-label" for="no">no</label>
        </div>

    <input type="submit" value="Add Business" />
</form>
</body>
</html>