<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<meta charset="UTF-8"/>
<title>Browse</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<body>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">Browse By Category</h2>
</div>

<div class="form-group">
    <label> Select Sub-Category
        <select>
           <option th:each="item : ${subcategories}"
                    th:value="${categories}"
                    th:text="${categories.categoryName}"
           ></option>
        </select>
    </label>
</div>



<table class="centeredTable">
    <tr>
        <td>
            <a th:href="@{/business}">View All</a>
        </td>
        <td th:each="category : ${categories}">
            <a th:href="@{/business}" th:text="${category.categoryName}"></a>
        </td>
    </tr>
    <tr>
        <td>
            <a th:href="@{/business}">View All</a>
        </td>
        <td>
            <a th:href="@{/browse/restaurant}">Restaurants</a>
        </td>
        <td>
            <a th:href="@{/browse/retail}">Retail</a>
        </td>
        <td>
            <a th:href="@{/business}">Other</a>
        </td>

       <!-- <li th:each="category : ${categories}">
            <a th:href="@{/browse/business(column=category,value=${category.categoryName})}" th:text="${category.categoryName}"></a>
        </li>-->

    </tr>

</table>


</body>
</html>