<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<!-- do i need to code something to include nav bar?-->

<h1>Browse Businesses</h1>

<button onclick="goBack()">Go Back</button>
<script>
    function goBack(){
    window.history.back();
    }
</script>


<table>

    <tr>
    <th:block th:each="category: ${categoryType}">
        <th th:text = "${category.value}"></th>
    </th:block>
    </tr>

    <tr>
        <ul>
            <li th:each="item : ${categorySubType}">
              <!--<a th:href="@/browse"></a> **idk where to pull data from-->
            </li>
        </ul>
    </tr>

    <th:block> <!-- th:each="placeholder:${placeholder}>-->
    <tr>
        <!--td th:text="${ownership tag}"-->

        <th>Business Name: </th>
        <!--td th:text="${placeholder}"-->

        <th>Hours: </th>
        <!--td th:text="${placeholder}"-->

        <th>Address: </th>
        <!--td th:text="${placeholder}"-->

        <th>Phone Number: </th>
        <!--td th:text="${placeholder}"-->

        <th>Website: </th>
        <!--td th:text="${placeholder}"-->

        <th>Email: </th>
        <!--td th:text="${placeholder}"-->

    </tr>
    </th:block>
</table>

</body>
</html>