<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NeighborGoods Map</title>
    <link rel='stylesheet' type='text/css'
          href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <style>
   #map {
        position: absolute;
        right: 0;
        width: 50vw;
        height: 100vh;
   }
   * {
        box-sizing: border-box;
   }
   .column {
        float: left;
        width: 50%;
        padding: 10px;
   }
   .row:after {
        content: "";
        display: table;
        clear: both;
   }
 </style>
    <script src='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.63.0/maps/maps-web.min.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<nav th:replace="fragments :: navbar"></nav>

<div class="card-block" id="formatted-address"></div>
<div class="card-block" id="address-components"></div>
<div class="card-block" id="geometry"></div>

<div class ="row">
    <div class ="column">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Business Name</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Business Website</th>
                <th>Owner Type</th>
            </tr>
            </thead>
            <tr th:each="business : ${businesses}">
                <td>
                      <a th:href="@{'/business/view/' + ${business.id}}" th:text="${business.businessName}"></a>
                </td>
                <td th:text="${business.streetAddress}"></td>
                <td th:text="${business.city}"></td>
                <td th:text="${business.state}"></td>
                <td>
                    <a th:href="'redirect/'+ ${business.id}" th:text="${business.website}"/>
                </td>
                <td th:text="${business.businessTag}"></td>
            </tr>
        </table>
    </div>

    <div id='map' class='map column'></div>
</div>

<!--TomTom map script provided by TomTom -->
<script th:inline="javascript">
 var map = tt.map({
   key: [[${apikey}]], // this will be replaced by Thymeleaf at runtime
   container: 'map',
   style: 'tomtom://vector/1/basic-main',
   center: [-90.1994, 38.6270],
   zoom: 10,
   offset: [0, 50]
 });

 const popupOffsets = {
 top: [0, 0],
 bottom: [0, 0],
 'bottom-right': [0, -70],
 'bottom-left': [0, -70],
 left: [25, -35],
 right: [-25, -35]
}

// placeholder for data that will be filled in by Thymeleaf
const businessLocations = /*[[${businessLocations}]]*/ null;
businessLocations.forEach(location => {
 const marker = new tt.Marker().setLngLat(location.lnglat).addTo(map);
 const popup = new tt.Popup({offset: popupOffsets}).setHTML(location.description);
 marker.setPopup(popup).togglePopup();
});

 map.addControl(new tt.FullscreenControl());
 map.addControl(new tt.NavigationControl());
 console.log("Hello there.");

</script>
</body>
</html>


